@model StockHouse.Models.Achat

@{
    ViewBag.Title = "AjouterAchat";
}

<h2>AjouterAchat</h2>

@using (Html.BeginForm("AjouterUnAchat", "Achat", FormMethod.Post))
{
    <div class="form-group">
        <label>Prix:</label>
        @Html.TextBoxFor(p => p.Prix)
    </div>
    <div class="form-group">
        <label>Quantité:</label>
        @Html.TextBoxFor(p => p.Quantité)
    </div>
    <div class="form-group">
        <label>Date d'achat:</label>
        @Html.TextBoxFor(p => p.DateAchat)
    </div>
    <div class="form-group">
        <label>ID user:</label>
        @Html.DropDownListFor(p => p.UserId, ViewBag.UserList as SelectList, "--Select user--")

    </div>
    <div class="form-group">
        <label>ID magasin:</label>
        @Html.DropDownListFor(p => p.MagasinId, ViewBag.MagasinList as SelectList, "--Select shop--")

    </div>
    <div class="form-group">
        <label>ID produit:</label>
        @Html.DropDownListFor(p => p.ProduitId, ViewBag.ProduitsList as SelectList, "--Select product--")

    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
}