@using StockHouse.Models
@model List<Achat>

@{
    ViewBag.Title = "TousLesAchats";
}

<h2>Tous les achats</h2>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID produit</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col">Date d'achat</th>
            <th scope="col">ID magasin</th>
            <th scope="col">ID user</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Achat achat in @Model)
    {
        <tr>
            <th scope="row">@achat.Id</th>
            <td>@achat.ProduitId</td>
            <td>@achat.Prix</td>
            <td>@achat.Quantité</td>
            <td>@achat.DateAchat</td>
            <td>@achat.MagasinId</td>
            <td>@achat.UserId</td>
        </tr>
    }
    </tbody>
</table>