@model StockHouse.Models.Produit
@{
    ViewBag.Title = "AjouterProduit";
}

<h2>Ajouter un produit</h2>

@using (Html.BeginForm("AjouterUnProduit", "Produit", FormMethod.Post))
{
    <div class="form-group">
        <label>Nom:</label>
        @Html.TextBoxFor(p => p.Nom)
    </div>
    <div>
        <label>Adresse:</label>
        @Html.TextBoxFor(p => p.Marque)
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.Type)
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.Stock)
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.PieceId)
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
}