@model StockHouse.Models.Produit

@{
    ViewBag.Title = "ModifierUnProduit";
}

<h2>Modifier un produit</h2>

@using (Html.BeginForm("ModifierProduit", "Produit", FormMethod.Post))
{
    <div class="form-group">
        <label>ID:</label>
        <br/>
        @Html.TextBoxFor(p => p.Id, new { @value = Model.Id, @readonly = "true" })
        <br/>
        @Html.ValidationMessageFor(p => p.Id)
    </div>
    <div class="form-group">
        <label>Nom:</label>
        <br/>
        @Html.TextBoxFor(p => p.Nom, new { @value = Model.Nom })
    </div>
    <div>
        <label>Marque:</label>
        <br/>
        @Html.TextBoxFor(p => p.Marque, new { @value = Model.Marque })
    </div>
    <div>
        <label>Type:</label>
        <br/>
        @Html.TextBoxFor(p => p.Type, new { @value = Model.Type })
    </div>
    <div>
        <label>Stock:</label>
        <br/>
        @Html.TextBoxFor(p => p.Stock, new { @value = Model.Stock })
    </div>
    <div>
        <label>Pièce:</label>
        @Html.DropDownListFor(p => p.PieceId, ViewBag.PieceList as SelectList, "--Select piece--")
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
}