@model StockHouse.Models.Produit

@{
    ViewBag.Title = "ModifierProduit";
}

<h2>ModifierProduit</h2>

@using (Html.BeginForm("ModifierProduit", "Produit", FormMethod.Post))
{
    <div class="form-group">
        <label>ID:</label>
        @Html.TextBoxFor(p => p.Id, new { @value = Model.Id, @readonly = "true" })
    </div>
    <div class="form-group">
        <label>Nom:</label>
        @Html.TextBoxFor(p => p.Nom, new { @value = Model.Nom })
        @Html.ValidationMessageFor(p => p.Nom)
    </div>
    <div>
        <label>Adresse:</label>
        @Html.TextBoxFor(p => p.Marque, new { @value = Model.Marque })
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.Type, new { @value = Model.Type })
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.Stock, new { @value = Model.Stock })
    </div>
    <div>
        <label>Ville:</label>
        @Html.TextBoxFor(p => p.PieceId, new { @value = Model.PieceId })
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
}